name: '{{ elastic_filebeat_beat_name }}'

{% if elastic_filebeat_kibana_enabled %}
setup.kibana.host: '{{ elastic_filebeat_kibana_protocol }}://{% if elastic_filebeat_kibana_basic_auth_username %}{{ elastic_filebeat_kibana_basic_auth_username }}:{{ elastic_filebeat_kibana_basic_auth_password }}@{% endif %}{{ elastic_filebeat_kibana_host }}:{{ elastic_filebeat_kibana_port }}'
setup.kibana.protocol: '{{ elastic_filebeat_kibana_protocol }}'
setup.kibana.username: '{{ elastic_filebeat_kibana_basic_auth_username }}'
setup,kibana.password: '{{ elastic_filebeat_kibana_basic_auth_password }}'
setup.kibana.ssl.enabled: '{{ elastic_filebeat_kibana_protocol == "https" }}'
setup.dashboards.enabled: {{ elastic_filebeat_kibana_setup_dashboards }}
{% endif %}

output.elasticsearch:
  hosts:
    {{ elastic_filebeat_elasticsearch_hosts | to_yaml | indent(4) }}
  compression_level: {{ elastic_filebeat_compression_level }}
  index: {{ elastic_filebeat_index }}

xpack.monitoring:
  enabled: true

filebeat.modules:
  {{ elastic_filebeat_modules | to_yaml | indent(2) }}
